* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.backgroundColor {
  background-image: url("https://cdn.pixabay.com/photo/2017/06/15/02/07/snack-2403881_1280.png");
}

/* contact */

.LabelName {
  margin-left: 795px;
  margin-top: 10px;
}

.NameField {
  margin-left: 400px;
  direction: rtl;
}

.LabelMailContact {
  margin-left: 795px;
}

.EmailFieldContact {
  margin-left: 400px;
  direction: rtl;
}

.LabelPhone {
  margin-left: 785px;
}

.PhoneField {
  margin-left: 400px;
  direction: rtl;
}

.SelectField {
  margin-left: 670px;
}

select.choice {
  margin-left: 750px;
  direction: rtl;
}

p.remark {
  margin-left: 380px;
  margin-top: 10px;
  font-size: 14px;
}

.LabelSubject {
  margin-left: 680px;
}

.SubjectField {
  margin-left: 400px;
  direction: rtl;
}

.LabelRemarks {
  margin-left: 743px;
}

textarea.RemarksField {
  margin-left: 620px;
  direction: rtl;
}

.buttonSend {
  margin-left: 765px;
  margin-top: 10px;
}

p.contactAnother {
  margin-left: 420px;
  margin-top: 15px;
}

div.contactAnotherImg {
  margin-left: 100px;
  margin-top: 10px;
}

div.map {
  margin-left: 500px;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  ::placeholder {
    font-size: 9px;
  }

  .LabelName {
    margin-left: 215px;
  }

  .NameField {
    margin-left: 130px;
  }

  .LabelMailContact {
    margin-left: 205px;
  }

  .EmailFieldContact {
    margin-left: 130px;
    direction: rtl;
  }

  .LabelPhone {
    margin-left: 205px;
  }

  .PhoneField {
    margin-left: 135px;
  }

  .SelectField {
    margin-left: 100px;
    margin-top: 10px;
    font-size: 16px;
  }

  select.choice {
    margin-left: 180px;
    direction: rtl;
  }

  p.remark {
    margin-left: 45px;
    font-size: 8px;
  }

  .LabelSubject {
    margin-left: 140px;
    font-size: 12px;
  }

  .SubjectField {
    margin-left: 150px;
  }

  .LabelRemarks {
    margin-left: 200px;
  }

  textarea.RemarksField {
    margin-left: 80px;
  }

  .buttonSend {
    margin-left: 250px;
    margin-top: 15px;
    margin-bottom: 10px;
  }

  p.contactAnother {
    margin-left: 65px;
    font-size: 12px;
  }

  div.contactAnotherImg {
    margin-left: 80px;
  }

  div.map {
    margin-left: 15px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
  ::placeholder {
    font-size: 9px;
  }

  .LabelName {
    margin-left: 310px;
  }

  .NameField {
    margin-left: 180px;
  }

  .LabelMailContact {
    margin-left: 310px;
  }

  .EmailFieldContact {
    margin-left: 180px;
    direction: rtl;
  }

  .LabelPhone {
    margin-left: 300px;
  }

  .PhoneField {
    margin-left: 180px;
  }

  .SelectField {
    margin-left: 200px;
    margin-top: 10px;
    font-size: 16px;
  }

  select.choice {
    margin-left: 270px;
    direction: rtl;
  }

  p.remark {
    margin-left: 90px;
    font-size: 10px;
  }

  .LabelSubject {
    margin-left: 190px;
    font-size: 16px;
  }

  .SubjectField {
    margin-left: 180px;
  }

  .LabelRemarks {
    margin-left: 325px;
  }

  textarea.RemarksField {
    margin-left: 180px;
  }

  .buttonSend {
    margin-left: 350px;
    margin-top: 15px;
    margin-bottom: 10px;
  }

  p.contactAnother {
    margin-left: 125px;
  }

  div.contactAnotherImg {
    margin-left: 180px;
  }

  div.map {
    margin-left: 110px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .LabelName {
    margin-left: 460px;
  }

  .NameField {
    margin-left: 230px;
  }

  .LabelMailContact {
    margin-left: 455px;
  }

  .EmailFieldContact {
    margin-left: 230px;
    direction: rtl;
  }

  .LabelPhone {
    margin-left: 445px;
  }

  .PhoneField {
    margin-left: 230px;
  }

  .SelectField {
    margin-left: 340px;
  }

  select.choice {
    margin-left: 415px;
    direction: rtl;
  }

  p.remark {
    margin-left: 140px;
  }

  .LabelSubject {
    margin-left: 350px;
  }

  .SubjectField {
    margin-left: 250px;
  }

  .LabelRemarks {
    margin-left: 415px;
  }

  textarea.RemarksField {
    margin-left: 300px;
  }

  .buttonSend {
    margin-left: 440px;
    margin-top: 10px;
  }

  p.contactAnother {
    margin-left: 200px;
  }

  div.contactAnotherImg {
    margin-left: 80px;
  }

  div.map {
    margin-left: 170px;
  }
}

@media only screen and (min-width: 1216px) {
  .LabelName {
    margin-left: 780px;
    margin-top: 10px;
  }

  .NameField {
    margin-left: 400px;
    direction: rtl;
  }

  .LabelMailContact {
    margin-left: 780px;
  }

  .EmailFieldContact {
    margin-left: 400px;
    direction: rtl;
  }

  .LabelPhone {
    margin-left: 770px;
  }

  .PhoneField {
    margin-left: 400px;
    direction: rtl;
  }

  .SelectField {
    margin-left: 640px;
  }

  select.choice {
    margin-left: 750px;
    direction: rtl;
  }

  p.remark {
    margin-left: 380px;
    margin-top: 10px;
    font-size: 14px;
  }

  .LabelSubject {
    margin-left: 660px;
  }

  .SubjectField {
    margin-left: 450px;
    direction: rtl;
  }

  .LabelRemarks {
    margin-left: 750px;
  }

  textarea.RemarksField {
    margin-left: 620px;
    direction: rtl;
  }

  .buttonSend {
    margin-left: 790px;
    margin-top: 10px;
  }

  p.contactAnother {
    margin-left: 420px;
    margin-top: 15px;
  }

  div.contactAnotherImg {
    margin-left: 100px;
    margin-top: 10px;
  }

  div.map {
    margin-left: 450px;
  }
}
