* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.error404Contact {
  display: inline-block; /* במקום margin-left, נעשה את הקישור בלוק פנימי */
  margin-top: 10px;
  text-decoration: none;
}
