* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.accordion-button::after {
  display: none;
}

.accordion-item:first-of-type .accordion-button {
  font-size: large;
}

[type="button"]:not(:disabled) {
  font-size: large;
}

.accordion-item:first-of-type .accordion-button {
  background-color: #f8e8f7;
  border: solid black 1px;
}

[type="button"]:not(:disabled) {
  background-color: #f8e8f7;
  border: solid black 1px;
}

.accordion1 {
  margin-top: 50px;
  direction: rtl;
}

.answer {
  direction: rtl;
}

.accordion2 {
  direction: rtl;
}

.accordion3 {
  direction: rtl;
}

.accordion4 {
  direction: rtl;
}

.accordion5 {
  direction: rtl;
}

.accordion6 {
  direction: rtl;
}

.accordion7 {
  direction: rtl;
}

.accordion8 {
  direction: rtl;
}

@media (max-width: 480px) {
  .accordion-item {
    width: 100%;
  }
}
