* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img.logoHome {
  width: 80px;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}

.text-container {
  direction: rtl;
  max-width: 500px;
  margin: 0 auto;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #f0f0f0;
}

.text-box {
  text-align: center;
  padding: 10px;
}

.Line1,
.Line2,
.Line3,
.Line4 {
  text-align: center;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 15px;
  color: #333;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

img.pic {
  width: 250px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 5px;
}

p.survey {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

@media only screen and (max-width: 600px) {
  p.survey {
    display: block;
    text-align: center;
    margin: 15px auto;
  }
}
