* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img.logoHome {
  width: 80px;
  height: auto; /* ישמור על יחסי רוחב-גובה מקוריים של התמונה */
  display: block; /* יתעלה מבעיה של רווח תוך כדי שהתמונה נטענת */
  margin-left: auto; /* יציב את השוליים בצדדים שמאל וימין של ההורה */
  margin-right: auto;
  border-radius: 10px; /* הצגת פינות מעוגלות */
}

.text-container {
  direction: rtl;
  max-width: 500px;
  margin: 50px auto;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #f0f0f0;
}

.text-box {
  text-align: center;
  padding: 10px;
}

p.Line1,
p.Line2,
p.Line3,
p.Line4 {
  text-align: center;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 15px;
  color: #333; /* צבע הטקסט */
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

img.pic {
  width: 250px;
  width: 250px;
  margin-left: 150px;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 5px;
}

p.survey {
  margin-left: 460px;
  margin-top: 15px;
}
